<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tapPlayer1</key>
	<array>
		<string>tapP1_1</string>
	</array>
	<key>tapPlayer2</key>
	<array>
		<string>tapP2_1</string>
	</array>
	<key>finalizePlayer1</key>
	<array>
		<string>finalizeP1_1</string>
	</array>
	<key>finalizePlayer2</key>
	<array>
		<string>finalizeP2_1</string>
	</array>
	<key>startGame</key>
	<string>startGame</string>
	<key>gameOver</key>
	<string>gameOver</string>
</dict>
</plist>
